:root {
	--transition-carousel: filter 1.2s cubic-bezier(0.99,-0.16, 0.58, 1), opacity 2.2s ease, transform 2s ease;
}

body {
	margin: 0;
	padding: 0;
}

.app-bgc {
	background-image: url('./assets/ixlayer-light-blue.png');
	background-repeat: no-repeat;
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	width: 100%;
	display: block;
	position: relative;
}

.carousel-wrap {
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;
}

.carousel-slides-wrap {
	display: flex;
	justify-content: center;
}

.carousel-slides {
	height: 100vh;
	width: auto;
}

.carousel-slide-img {
	height: 100%;
	width: auto;
}

.carousel-info {
	position: absolute;
	width: auto;
	height: 75%;
	right: 13%;
	top: 5%;
}

.btn {
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	display: flex;
	cursor: pointer;
	background: transparent;
	border: none;
}

.btn:focus, .btn:active {
	outline: none;
}

.btn--left {
	left: 0;
	justify-content: flex-start;
}

.btn--right {
	right: 0;
	justify-content: flex-end;
}

.arrow {
	position: relative;
	height: 60px;
	width: 200px;
	display: inline-block;
	transform-origin: center;
}

.arrow::after, .arrow::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: white;
}

.arrow::after {
	transform: rotate(45deg);
	bottom: 21px;
}

.arrow::before {
	transform: rotate(-45deg);
	top: 21px;
}

.arrow--next {
	transform: scale(-1);
}


.liquid-morph-enter-active, .liquid-morph-leave-active {
	transition: var(--transition-carousel);
	position: fixed;
}
.liquid-morph-enter, .liquid-morph-leave-to /* .list-leave-active below version 2.1.8 */ {
	opacity: 0;
	transform: translateX(10px);
	filter: blur(2px);
}
